<html>
	<head>
	<script type="text/javascript" src="https://rawgit.com/amark/gun/master/gun.js" ></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core-min.js" ></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha256-min.js" ></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha256-min.js" ></script>
	</head>
	<body>
		{% if alert %}
			{{alert}}
		{% elif forma %}
			<form method="POST" action="/recover_password/{{code}}/">
	            {% csrf_token %}
				
				{{ forma }}
				<button type="submit">Nastavi geslo</button>
			</form>
		{% elif passwd %}
		Naloži gun nastavu si geslo {{passwd}} za mail {{email}}
		<script>
			var gun = Gun("http://pelji.se:81/");
			gun.get('people').get("person/"+CryptoJS.SHA256("{{email}}").toString(CryptoJS.enc.Base64)).put({password:CryptoJS.SHA256("{{passwd}}").toString(CryptoJS.enc.Base64)});
		</script>
		Preveri če smo ti ql nastavl
		{% endif %}
	</body>
</html>